client_secret.json
.env
venv/
Gemini_models__.ipynb
Gemini_models_.ipynb
Gemini_models.ipynb
notebook.ipynb
prueba_aut.py
.pyc
client_secret_wmaicol.json
cert.pem
key.pem
Computer_vision/
clean_redis.py
jsn_excel.py
output.xlsx
logs/
augmented_experience2.js
borrar_redis.pyclient_secret_deskptop.json
