body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(-45deg, #cccccc, #0077cc, #0099ff, #0077cc);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #0099ff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: none; /* Elimina el borde negro */
}
.title {
    font-size: 2em;
    margin-bottom: 10px;
}
.subtitle {
    font-size: 1.2em;
    margin-bottom: 30px;
}
.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}
.option:hover {
    background: rgba(255, 255, 255, 0.4);
}
.option i {
    margin-right: 10px;
}
.language-selector {
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 1em;
    color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.language-selector option {
    color: black;
}
