<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}?v=2">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash.css') }}">
    
    <title>Welcome to EverydAI</title>

</head>
<body>
    <button id="openModalButton">User Guide</button>
    <div class="container">
        
        <div class="main-title">Welcome to EverydAI</div>
        <div class="sub-title">Choose a domain to continue</div>

        <!-- Contenedor del modelo 3D -->
        <div id="avatar-container"></div>
        
        <div class="option-container">
            <a href="{{ url_for('chat', domain='Cooking') }}" class="option"><i>🍽️</i> Cooking</a>
            <a href="{{ url_for('chat', domain='fashion') }}" class="option"><i>👔</i> Fashion</a>
            <a href="{{ url_for('chat', domain='Fitness') }}" class="option"><i>🏃</i> Fitness</a>
        </div>
    </div>   
    <!-- Scripts de Three.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script id="model-url3" data-url3="{{ url_for('static', filename='models/avatar3.glb') }}"></script>
    <script id="model-urlani3" data-urlani3="{{ url_for('static', filename='animations/animationsfashion.glb') }}"></script>
    <script id="model-url2" data-url2="{{ url_for('static', filename='models/avatar2.glb') }}"></script>
    <script id="model-urlani2" data-urlani2="{{ url_for('static', filename='animations/animationsgym.glb') }}"></script>
    <script id="model-url" data-url="{{ url_for('static', filename='models/avatar1.glb') }}"></script>
    <script id="model-urlani" data-urlani="{{ url_for('static', filename='animations/animationschef.glb') }}"></script>
    <script src="../static/java/dash_avatar.js"></script>
</body>
</html>