<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash_mobile.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}?v=2">
    <title>Welcome to EverydAI</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<body>

    <button id="openModalButton">User Guide</button>

    <div class="title">WELCOME TO EVERYDAI</div>
    <div class="subtitle">CHOOSE A DOMAIN TO CONTINUE</div>

    <!-- Dropdown for Language Selection -->
    <div>
        <label for="languageSelect">Choose Language:</label>
        <select id="languageSelect" class="language-selector">
            <option value="es-ES">Spanish</option>
            <option value="en-US">English</option>
        </select>
    </div>

    <div class="options">
        <a href="{{ url_for('chat', domain='Cooking', lang=request.args.get('lang', 'en')) }}" class="option"><i>🍽️</i> Cooking</a>
        <a href="{{ url_for('chat', domain='fashion', lang=request.args.get('lang', 'en')) }}" class="option"><i>👔</i> Fashion</a>
        <a href="{{ url_for('chat', domain='Fitness', lang=request.args.get('lang', 'en')) }}" class="option"><i>🏃</i> Fitness</a>
    </div>

</body>
<script>
    document.getElementById('openModalButton').addEventListener('click', function() {
        Swal.fire({
            title: 'User Guide',
            html: `
                <p>Welcome to EverydAI user guide. Here you can:</p>
                <ul>
                    <li>Select the domain for your daily activities.</li>
                    <li>Talk with the avatars to receive help on your daily tasks.</li>
                    <li>Receive information based on the elements you share to our avatars.</li>
                </ul>
            `,
            icon: 'info',
            confirmButtonText: 'Close'
        });
    });

    document.getElementById('languageSelect').addEventListener('change', function () {
    const lang = this.value;
    const links = document.querySelectorAll('.option');
    links.forEach(link => {
        const url = new URL(link.href);
        url.searchParams.set('lang', lang);
        link.href = url.toString();
    });
});
</script>
</html>