<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargando...</title>
</head>
<body>
    <div id="loadingScreen" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        Cargando...
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Extraer el dominio de la URL
            const params = new URLSearchParams(window.location.search);
            const domain = params.get('domain');

            setTimeout(() => {
                window.location.href = `{{ url_for('chat', domain=domain) }}`;
            }, 2000); // Ajusta el tiempo de espera según sea necesario
        });
    </script>
</body>
</html>
